@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh; /* Ganti height menjadi min-height */
    position: relative; /* Tambahkan ini */
}

main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
}

country-list {
    display: block;
    margin-top: 32px;
    width: 100%;
    padding: 16px;
}

footer {
    margin-top: 100px;
    padding: 20px;
    position: absolute; /* Ganti position menjadi absolute */
    display: block;
    color: white;
    background-color: #5C8374;
    text-align: center;
    font-weight: bold;
    width: 100%;
    bottom: 0; /* Tambahkan ini untuk meletakkan footer di bagian paling bawah */
}